[alias]
	st = status
	ch = checkout
	chm = checkout master
	chb = checkout -b
  chd = checkout develop
	br = branch
	fap = fetch --all --prune
	rbm = rebase master
	rbd = rebase develop
	csm = commit -sm
  lg = log --graph --abbrev-commit --decorate --date=relative --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
  lg1 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
	mnff = merge --no-ff --no-edit
	mffo = merge --ff-only
  amend = commit --amend --no-edit
[color]
	ui = true
        branch = auto
        interactive = auto
        status = auto
        diff = auto
[user]
	name = buckie
	email = wjmartino@gmail.com
[credential]
	helper = cache --timeout=100000
[core]
	editor = /usr/local/bin/vim
[push]
	default = simple
